body{
    font-size: 110%;
}
section{
    padding-top: 130px;
}
nav div{
    background-color: #0a2e57;
    padding: 1em;
}
nav div div ul li span{
    color: aliceblue;
}

.nav-link span:hover{
    color: #185caa;
}

.fotoPerfil{
    border-radius: 50%;
}
.fotoPerfil:hover{
    transform: scale(1.1);
}
.iconoConocimientos{
    font-size: 80px;
    vertical-align: middle;
    color: #0a2e57;
}
h2{
    margin: 50px;
    font-size: 250%;
    color: #0a2e57;
}
.tituloIcono{
    font-size: 36px;
    padding-left: 12px;
    color: #0a2e57;

}
.listaConocimientos div{
    margin-bottom: 8px;
    margin-top: 8px;
}
.segundaFila{
    margin-top: 90px;
}

@media (min-width: 992px){
    .nav-link:hover{
        transform: scale(1.3);
    }
}